---
import Layout from '../layouts/Layout.astro';
import Gracias from '../components/Gracias.astro';

/*import Layout from '../layouts/Layout.astro';
import Forma from '../components/Forma.astro';
import BitrixForm from '../components/BitrixForm.jsx';
import Footer from '../components/Footer.jsx';*/

---

<Layout title="Thanks you">
    <Gracias body="Gracias"/>
	<body>
		<slot /> 
	</body>
</Layout>




